<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SaveLog" value="Yes" />
    <add key="proxyURL" value="proxy.hpcl.co.in" />
    <add key="proxyPort" value="3128" />
    <add key="AppDomain" value="http://localhost:50037" />
    <add key="jwtSecret" value="MySuperKeyMySuperKeyMySuperKeyMySuperKeyMySuperKeyMySuperKey" />
    <add key="WebTokenExpireTimeinHrs" value="30" />
    <add key="MobTokenExpireTimeinHrs" value="30" />
    <add key="ClientIdSecret" value="AADYAMAAA-AUTHENTICATION-REFRESH-TOKEN" />
    <add key="imagepath" value="http://localhost:53642/VehicleDtls/" />
    <add key="imagepathFile" value="~/VehicleDtls/" />
    <add key="Password" value="Lpg@12345" />
    <add key="GoogleAPIKey" value="AIzaSyCP5BfFQ-65njKhl49inDN5yD5kzPnE2_w" />
    <add key="GoogleAPIReverseAddress" value="https://maps.googleapis.com/maps/api/geocode/xml?address=" />
    <!--<add key="connectionString" value="data source=65.0.47.144;initial catalog=SDSDB;persist security info=True;user id=Rahul;password=AIPL2021;MultipleActiveResultSets=True;App=EntityFramework;" />-->
    <!--<add key="connectionString" value="data source=3.1.188.168;initial catalog=SDSDB;persist security info=True;user id=sa;password=Aadyam2016;MultipleActiveResultSets=True;App=EntityFramework;" />-->
   <add key="imagepath" value="http://localhost:53642/VehicleDtls/" />
    <add key="imagepathFile" value="~/VehicleDtls/" />
    <add key="OnActionExecuted" value="0" />
    <add key="OnException" value="1" />
    <add key="Deviation" value="100" />
    <add key="WithIntervalInHours" value="24" />
    <add key="Hours" value="16" />
    <add key="Minutes" value="17" />
    <add key="OrderCnt" value="8" />
    <add key="PFUserName" value="aadyam.developer@gmail.com" />
    <add key="PFPassWord" value="developer123" />
    <add key="WebUrl" value="http://localhost:4200/" />
    <add key="MMIToken" value="0c85088b-75aa-46c6-89dc-ef517861393e" />
    <add key="GodownLat" value="18.4525748" />
    <add key="GodownLng" value="73.8735603" />
    <add key="DefaultPwd" value="cnf@1234" />
    <add key="ToEmail" value="gadhe@aadyamconsultant.com,rajendra@aadyamconsultant.com" />
    <add key="InsuranceClaimAppr" value="Insurance Claim Approval -"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <!--<smtp from="Smart Delivery System &lt;hpclcustomersurvey@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" userName="hpclcustomersurvey@gmail.com" password="survey@123" enableSsl="true" />
      </smtp>-->
  
      <smtp from="aadyampune@outlook.com">
        <network host="smtp.office365.com" port="587" userName="aadyampune@outlook.com" password="Aadyam@2022" enableSsl="true" />
      </smtp>
  
  
    </mailSettings>
  </system.net>
  <!--<system.net>
  <mailSettings>
      <smtp from="noreply@hpcl.co.in">
        <network host="smtp.hpcl.co.in" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <connectionStrings>
    <add name="CFADBEntities" connectionString="metadata=res://*/Model.Context.CNFDB.csdl|res://*/Model.Context.CNFDB.ssdl|res://*/Model.Context.CNFDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=65.0.47.144;initial catalog=CFADB;user id=Nitesh;password=AIPL2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SDSDBEntities" connectionString="metadata=res://*/Model.Context.SDSDB.csdl|res://*/Model.Context.SDSDB.ssdl|res://*/Model.Context.SDSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=65.0.47.144;initial catalog=SDSDB;persist security info=True;user id=Rahul;password=AIPL2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDSDBEntities" connectionString="metadata=res://*/Model.Context.SDSDB.csdl|res://*/Model.Context.SDSDB.ssdl|res://*/Model.Context.SDSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.1.188.168;initial catalog=SDSDB;persist security info=True;user id=sa;password=Aadyam2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="SDSDBEntities" connectionString="metadata=res://*/Model.Context.SDSDB.csdl|res://*/Model.Context.SDSDB.ssdl|res://*/Model.Context.SDSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSSQL2014DEV\SQLSVR2014DEV,1471;initial catalog=SDSUAT;persist security info=True;user id=route_opt_479ry;password=Opti%^#ROUTI__ngmiz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <sessionState timeout="50"></sessionState>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServBehave">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <!--<bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>-->
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="ADS_WS_ServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://websvrinternal.hpcl.co.in:80/ADS_WS_Service/ADS_WS_Service" binding="basicHttpBinding" bindingConfiguration="ADS_WS_ServicePortBinding" contract="ADSvcReference.ADS_WS_Service" name="ADS_WS_ServicePort" />
    </client>
  </system.serviceModel>
  <system.webServer>

    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="X-Powered-By" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Feature-Policy" value="&quot;fullscreen 'none'; microphone 'none'&quot;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
